body, html {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

/* ==== ANIMATIONS ==== */

@keyframes buttonColor {
    /* TODO: ADJUST COLORS AND PERCENTAGES TO SMOOTH OUT AND LOOK BETTER */
    0%    {background: #E74C3C;}
    50%   {background: orange;}
    100%  {background: #E74C3C}
}

/* TODO: WRITE KEYFRAMES FOR BUTTON HOVER */


/* ==== GLOBAL STYLES ==== */

.btn-default {
    padding: 25px 30px;
	border: none;
    border-radius: 30px;
    font-size: 1.5em;
    font-weight: 500;
    color: white;
    text-shadow: 1px 1px 3px grey;
    background: #E74C3C;
    animation: buttonColor 3s infinite;
    transition: all 2s;
}

.btn-default:hover {
	color: white;
    text-shadow: 1px 1px 2px black;
    background: yellow;
    animation: none;
}

.navbar-inverse {
    /* TODO: FIND A BETTER COLOR FOR FOOTER */
	background: #E74C3C;
    z-index: 0;
    border: none;
    border-radius: 0;
}

.container {
	max-width: 960px;
}

.lineUnder {
    padding-bottom: 1px;
	border-bottom: 5px solid black;
}



/* ===== CUSTOM STYLES ===== */


#hero {
    /* TODO: MAKE MEDIA QUERY TO CHANGE FOR LANDSCAPE */
	height: 100vh;
    background-image: url(../images/bg5.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#heroImage {
	width: 52%;
    /* TODO: CHANGE THIS TO MOVE WITH HERO IMAGE OR FADE ON SCROLL */
    position: absolute;
    align-self: flex-end;
    bottom: -1px;
    right: -20px;
    z-index: 1000;
}

h1 {
    font-size: 4em;
    color: #fff;
/*    font-family: 'Open Sans', sans-serif;*/
/*    font-family: 'Oxygen', sans-serif;*/
/*    font-family: 'Josefin Sans', sans-serif;*/
/*    font-family: 'Poiret One', cursive;*/
/*    font-family: 'Rock Salt', cursive;*/
    font-family: 'Monoton', cursive;
    font-weight: lighter;
    text-transform: uppercase;
    text-shadow: -2px 3px 3px #E74C3C;
    letter-spacing: 2px;
/*    line-height: 90%;*/
    margin-top: 50px;
}

h3 {
    font-family: 'Rock Salt', cursive;
    color: #fff;
    font-size: 1.2em;
    margin: 5px 0;
}

section {
/*    max-width: 960px;*/
    padding: 100px 0;
}

section h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
}

section p {
    text-align: left;
    line-height: 150%;
    font-family: 'Raleway', sans-serif;
}

.services {
	text-align: center;
    padding: 30px 20px;
}

.services h2 {
    padding-bottom: 10px;
}

i {
    font-size: 2em;
    color: orangered;
}

/* TODO: MAKE A MEDIA QUERY TO REMOVE THE PARALAX IMAGES FOR TABLET/MOBILE */

.parallax {
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 300px;
}

#p1 {
	background-image: url(../images/plax-1.jpeg);
}

#p2 {
	background-image: url(../images/bg2.jpg);
}

#contact {
	height: 100%;
    min-height: 500px;
    background-image: url(../images/bg5.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact i {
    margin: 0;
    padding: 0;
    color: darkgrey;
}

#contact a i.icon-github-2:hover {
	color: #333;
}





/* ===== MEDIA QUERIES ===== */

@media only screen and (max-width: 767px){
    #heroImage {
	    display: none;
    }
}
















footer {
    margin: 0 auto;
    border-radius: none;
    padding: 5px 0;
    color: #fff;
    text-align: center;
}

footer p {
    margin: 0;
}











